*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
  }
  body{
    font-family: Montserrat, sans-serif;
  }
  nav{
    background: #f56f01;
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1000; 
  }
  label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }
  .logo-img {
    width: 30px; 
    height: auto; 
    margin-top: 10px;
    margin-left: 10px;
  }
  
  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
  }
  a.active,a:hover{
    background: #f56f01;
    transition: .5s;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }
  #check{
    display: none;
  }
  .banner {
    width: 100%;
    margin-top: 80px; 
  }
  
  .specials {
    text-align: center;
    padding: 50px 0;
    
  }
  
  .pizza-item {
    display: inline-block;
    margin: 0 20px;
    padding: 20px;
    border-style: groove;
    transition: transform 5s ease; 
  }
  .pizza-item img {
    width: 300px;
    height: 300px;

  }
 .pizza-item:nth-child(3):hover {
  transform: rotate(360deg); 
}

.pizza-item:nth-child(1):hover {
  transform: rotate(-360deg); 
}

.pizza-item:nth-child(2):hover {
  transform: scaleX(-1); 
}

  .pizza-item p {
    font-size: 18px;
    margin-top: 10px;
  }

  .specials h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .specials h2 {
    text-align: center; 
  }
  
  .order-now {
    display: block;
    margin: 20px auto;
    background-color: #f56f01;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 50px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .order-now:hover {
    background-color: #8ee80e; 
  }
  
  .heads {
    text-align: center;
    padding-bottom: 50px;
  }
  .review {

    text-align:center;
    padding-bottom: 10px;
    opacity: 60%;

  }

  .order{
 
    text-align: center;
    padding-bottom: 10px;
    padding-top: 40px;
  }
  .extparagraph{

text-align: center;

  }
  .explaination{

   border-style:groove;
    border-color: black;
   padding-block: 10px;
   margin-left: 15px;
   margin-right: 15px;

  }
  .expheadings{

    margin-block: 10px;

  }

  .contactform{


    margin-block: 10px;



  }
  .contheading{

    padding-top: 40px;
    text-align: center;
  }


  form {
    width: 500px;
    margin-left: 30%;
    margin-top: 10px;

  }
  
  input[type=text], input[type=email], input[type=tel], textarea {
    width: 100%;
    padding: 4px;
    margin: 4px 0;
    border-style: groove;
  }
  
  input[type=submit] {
     background-color: #4CAF50;
     color: white;
     padding: 10px 12px;
     border-radius: 5px;
     border:none;
    margin-left: 150px;

     
  }
  input[type=reset] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 12px;
    border-radius: 5px;
    border:none;
   
 }
  
 footer {
    margin-top: 30px;
    text-align: center;
    padding: 25px;
    background-color:#f56f01;
    color: white;
  }
  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    ul{
      position: fixed;
    }
  }
  